@model WzimTrainingClub.Controllers.NewFoodModel

@{
    ViewData["Title"] = "Dodaj jedzenie";
}

@section Scripts {
    <script src="~/js/Nutrition/AddFood.js"></script>
}

<h2>Posiłki z dnia @(((DateTime)ViewData["selectedDate"]).ToString("dd.MM.yyyy"))</h2>
<div class="row">
    @foreach (Food f in Model.UserFoods)
    {
        <div class="col-3 mt-3" style="">
            <div class="card" data-ID="@f.ID" data-Name="@f.Name" data-Carbs="@f.Carbohydrates" data-Protein="@f.Protein" data-Fat="@f.Fat" data-Calories="@f.Calories" data-ServingSize="@f.ServingSize" data-ServingUnit="@f.ServingSize">
                <div class="card-header">
                    <h3 class="text-center mb-0">@f.Name</h3>
                </div>
                <div class="card-body">
                    <h6 class="text-center font-weight-lighter">
                        @(f.ServingSize.ToString()) @f.PortionUnit
                    </h6>
                    <h5 class="text-center font-weight-normal">
                        @(f.Calories)&nbsp;kcal
                    </h5>

                </div>
                <div class="card-footer text-center">
                    <button type="button" class="btn btn-primary btn-sm" onclick="setNewFoodFields(this);">Edytuj</button>
                    <form asp-controller="Nutrition" asp-action="DeleteFood" class="d-inline">
                        <input type="hidden" value="@f.ID" name="ID" required />
                        <input type="submit" class="btn btn-danger btn-sm" value="Usuń" />
                    </form>
                </div>
            </div>

        </div>
    }
</div>

<form id="NewFoodForm" asp-controller="Nutrition" asp-action="AddNewFood" method="post" class="mt-4">
    <div class="mb-2">
        <h2 class="d-inline mr-2 align-middle" id="NewFoodHeader">Dodaj nowe jedzenie</h2>
        <input type="reset" class="btn btn-danger d-none" value="Anuluj" id="NewFoodCancel" onclick="cancelEdit();" />
    </div>

    <input type="hidden" name="ID" id="existingFoodID" value="0" />
    <input type="hidden" name="CreatedByID" value="0" />

    <table>
        <tbody>
            <tr>
                <td>
                    <label class="mb-0">Nazwa</label>
                </td>
                <td>
                    <label class="mb-0">Ilość</label>

                </td>
                <td>
                    <label class="mb-0 me-3" id="newFoodUnit">Jednostka</label>
                </td>
                <td>
                    <label class="mb-0">Węglowodany</label>

                </td>
                <td>
                    <label class="mb-0">Białko</label>

                </td>
                <td>
                    <label class="mb-0">Tłuszcz</label>

                </td>
                <td>
                    <label class="mb-0">Kalorie</label>

                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="Name" class="form-control mr-4" id="newFoodName" required />
                </td>
                <td>
                    <input type="number" name="ServingSize" class="form-control mr-4" id="newFoodSize" min="0" required />
                </td>
                <td>
                    <select name="PortionUnit" class="form-control" required>
                        <option value="g">g</option>
                        <option value="ml">ml</option>
                    </select>
                </td>
                <td>
                    <input type="number" name="Carbohydrates" class="form-control mr-4" id="newFoodCarbs" oninput="updateCalories();" min="0" value="0" required />
                </td>
                <td>
                    <input type="number" name="Protein" class="form-control mr-4" id="newFoodProtein" oninput="updateCalories();" min="0" value="0" required />
                </td>
                <td>
                    <input type="number" name="Fat" class="form-control mr-4" id="newFoodFat" oninput="updateCalories();" min="0" value="0" required />
                </td>
                <td>
                    <input type="number" name="Calories" class="form-control  mr-4" id="newFoodCalories" min="0" value="0" required />
                </td>
            </tr>
            <input type="hidden" name="ConsumptionDate" value="@(((DateTime)ViewData["selectedDate"]).ToString("dd.MM.yyyy"))" />
        </tbody>
    </table>
    <input type="submit" class="btn btn-primary mt-3" value="Zapisz" />
</form>

